<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-reg">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">РЕГИСТРАЦИЯ</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="field-title">ФИО</div>
						<div class="field-content">
							<input type="text" class="form-input">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="field-title">ТЕЛЕФОН</div>
						<div class="field-content">
							<input type="tel" class="form-input">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="field-title">E-MAIL</div>
						<div class="field-content">
							<input type="email" class="form-input">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field field-select">
						<div class="field-title">ПОЛ</div>
						<div class="field-content">
							<div class="frm-select">
								<input type="radio" name="pol" id="pol01" checked>
								<label for="pol01">М</label>
							</div>
							<div class="frm-select">
								<input type="radio" name="pol" id="pol02">
								<label for="pol02">Ж</label>
							</div>
						</div>
					</div>
					<div class="frm-field">
						<div class="field-title">ГОРОД</div>
						<div class="field-content">
							<input type="text" class="form-input">
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<div class="frm-select">
							<input type="checkbox" id="popup01-01" checked>
							<label for="popup01-01">Я согласен пример текста текста пример какойто текст правила условия юредические</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="popup01-02" >
							<label for="popup01-02">Я согласен пример текста текста пример какойто текст правила условия юредические</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="popup01-03" checked>
							<label for="popup01-03">Я согласен пример текста текста пример какойто текст правила условия юредические</label>
						</div>
					</div>
					<div class="frm-field field-submit">
						<button type="submit" class="btn">
							<div class="button-title">РЕГИСТРАЦИЯ</div>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->


<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-login">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">ВХОД В ЛИЧНЫЙ КАБИНЕТ</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="field-title">НОМЕР КАРТЫ ОК</div>
						<div class="field-content">
							<input type="text" class="form-input">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="field-title">ПАРОЛЬ</div>
						<div class="field-content">
							<input type="password" class="form-input">
						</div>
					</div>
				</div>
				<div class="frm-row-submit row-login">
					<div class="frm-field">
						<div class="frm-select">
							<input type="checkbox" id="popup02-01" checked>
							<label for="popup02-01">ЗАПОМНИТЬ ДАННЫЕ ДЛЯ ВХОДА</label>
						</div>
					</div>
					<div class="frm-field field-submit">
						<button type="submit" class="btn">
							<div class="button-title">ВОЙТИ</div>
						</button>
					</div>
				</div>
				<div class="frm-row-submit row-login">
					<div class="frm-field">
						<div class="field-info">НЕТ АККАУНТА? РЕГИСТРИУЙСЯ СЕЙЧАС!</div>
					</div>
					<div class="frm-field field-submit">
						<button type="submit" class="btn">
							<div class="button-title">РЕГИСТРАЦИЯ</div>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box popup-succefull" id="popup-succefull">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Ваш купон зарегистрирован!</div>
		</div>
		<div class="popup-content-wrap">
			<div class="frm-popup">
				<div class="frm-row-submit">
					<div class="frm-field field-submit">
						<a href="" class="btn">
							<div class="button-title">Ok</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->